<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.che_ti_bleEX">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_chetible"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_chetible_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChangeTimetableActivity"></activity>
        <activity android:name=".SettingActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".Showtimetable" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".ChatActivity"></activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashActivity"></activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>